<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
		<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
		<script th:src="@{/histories.js}" type="text/javascript"></script>
    </head>
    <body>
        <h1>history</h1>
        <table id="list">
            <thead>
                <tr>
                    <th>color</th>
                    <th>&nbsp;&nbsp;&nbsp;</th>
                    <th>created</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
		<a href="/">back</a>
    </body>
</html>